* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: #043632;
}

/* Water Mark Removal */

img[src="https://www.000webhost.com/static/default.000webhost.com/images/powered-by-000webhost.png"]
{
    display: none;
}

/*Reveal Section Slide */

section {
    overflow: hidden;
}

.reveal {
    transform: translate(50px, 200px);
    opacity: 0;
    transition: all 1s ease;
}
.section-reveal {
    transform: translate(0px, 0px);
    opacity: 1;
}

.reveal-opp {
    transform: translate(-50px, 200px);
    opacity: 0;
    transition: all 1s ease;
}

.section-reveal-opp {
    transform: translate(0px, 0px);
    opacity: 1;
}

/* header/navigation bar */

/* Preview Image */

.preview-img {
    display: none;
}

header {
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 8;
    top: 0px;
    left: 0px;
    justify-content: space-between;
    background-image: linear-gradient(45deg, #097268ef, rgba(245, 245, 245, 0.971), rgba(231, 231, 231, 0.957), #043632f4);
}

.nav-extremities {
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-nav-menu-img {
    margin: auto;
    width: 110px;
    height: 70px;
    cursor: pointer;
}

.header-wrap {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.header-wrap .phone a {
    text-decoration: none;
    width: 50vw;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    background-image: linear-gradient(90deg, #0dafa29e, #0984799e, #0436329e);
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-shadow: 0.4px 0.4px 1px black;
    color: white;
    border-radius: 13px;
}

.header-phone-number {
    font-size: 21px;
}

.nav-wrap {
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 100vw;
    padding: 0rem 0.4rem;
    display: flex;
    justify-content: space-between;
}

.nav-ul {
    height: 45px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nav-ul li {
    margin: auto;
    padding: 0.2rem 0.8rem;
    justify-content: center;
    border-radius: 15px;
    font-size: 20px;
    color: #043632;
}

.nav-list-item-active {
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(13, 13, 13);
    cursor: pointer;
}

.nav-ul a {
    display: block;
    text-decoration: none;
    color: #043632;
}

.nav-ul a:hover {
    color: #0e988d;
    transform: translateY(-2px);
    transition: 0.1s;
}

.menu-toggle-bar-container {
    visibility: hidden;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-toggle-bars-wrapper {
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

.menu-toggle-bars {
    position: relative;
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(214, 214, 214);
}

.menu-toggle-bars-on {
    width: 25px;
    transform: rotateZ(45deg);
    transition: 0.3s;
    background-color: rgb(214, 214, 214);
}

.menu-toggle-bars-on-alt {
    width: 25px;
    transform: rotateZ(-45deg);
    transition: 0.3s;
    top: -20%;
    background-color: rgb(214, 214, 214);
}

.menu-toggle-bars-off {
    top: 0%;
    transform: rotateZ(0deg);
    transition: 0.3s;
}

@media(max-width: 1150px) {
    .header {
        padding-top: 0.8rem;
    }
    .nav-extremities {
        min-width: 80px;
    }

    #logo-nav-menu-img {
        width: 75px;
        height: 57px;
    }

    .header-wrap .phone a {
        width: 40vw;
        gap: 0.5rem;
        font-size: 17px;
    }

    .header-phone-number {
        font-size: 18px;
    }

    .nav-ul {
        gap: 1rem;
    }

    .nav-ul li {
        padding: 0.2rem 0.7rem;
        font-size: 19px;
    }

    .nav-list-item-active {
        box-shadow: 1.5px 1.5px 4px rgb(13, 13, 13);
    }
}

@media(max-width: 870px) {
    header {
        padding: 0.6rem 0.1rem;
        background: #043632ec;
    }
    #logo-nav-menu-img {
        width: 70px;
        height: 33px;
    }

    .nav-extremities {
        min-width: 60px;
    }

    .header-wrap .phone a {
        color: rgb(202, 202, 202);
        width: auto;
        gap: 0.3rem;
        font-size: 16px;
        background-color: transparent;
        background-image: none;
    }

    .header-phone-number {
        font-size: 17px;
    }

    .navigation {
        width: 0vw;
        height: 100vh;
        position: absolute;
        border-top-left-radius: 17px;
        background-color: #043632;
        box-shadow: -2.5px -2.5px 10px rgba(18, 18, 18, 0.717);
        top: 0%;
        right: 0%;
        transition: all 0.8s;
    }

    .nav-ul {
        margin-top: 80px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.3rem;
    }

    .nav-ul a {
        color: rgb(214, 214, 214);
    }

    .nav-ul li {
        margin-right: 0px;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        border-radius: 8px;
    }

    .nav-list-item-active {
        background-color: rgb(214, 214, 214);
        border: 2px solid rgb(214, 214, 214);
        border-radius: 15px;
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
        cursor: pointer;
    }

    .nav-ul .active-a-nav {
        color: #043632;
    }

    .menu-toggle-bar-container {
        height: 30px;
        visibility: visible;
    }
}

/* Client Experiences: Cruising with Friends and Family */

.cruises-with-f-f {
    background-image: linear-gradient(180deg, #043632, rgb(90, 90, 90), rgb(202, 202, 202));
    margin-top: 7rem;
    padding: 3rem 0rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cruises-with-f-f-h2 {
    width: 30vw;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    text-shadow: 0.4px 0.4px 1px black;
    text-align: center;
    color: rgb(202, 202, 202, 0.720);
}

.cruises-with-f-f-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.cruises-with-f-f-img img{
    width: 50vw;
    box-shadow: -3px 3px 13px black;
}

@media (max-width: 1150px) {
    .cruises-with-f-f {
        margin-top: 5rem;
        padding: 3rem 0rem;
    }
    
    .cruises-with-f-f-h2 {
        width: 35vw;
        font-size: 19px;
    }
}

@media (max-width: 685px) {
    .cruises-with-f-f {
        margin-top: 4rem;
        padding: 2rem 0rem;
        flex-direction: column;
        gap: 1.8rem;
        justify-content: center;
        align-items: center;
    }
    
    .cruises-with-f-f-h2 {
        width: 90vw;
        font-size: 17px;
    }
    
    .cruises-with-f-f-img {
        width: 90vw;
    }

    .cruises-with-f-f-img img {
        width: 90vw;
    }
}

/* Young Adventurers */

.young-adv {
    background-image: linear-gradient(180deg, rgb(202, 202, 202), rgb(90, 90, 90), #043632);
    padding: 5rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.young-adv-h2 {
    width: 30vw;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    text-shadow: 0.4px 0.4px 1px black;
    text-align: center;
    color: rgb(202, 202, 202, 0.720);
}

.young-adv-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.young-adv-img img{
    width: 50vw;
    box-shadow: -3px 3px 13px black;
}

@media (max-width: 1150px) {
    .young-adv {
        padding: 3rem 0rem;
    }
    
    .young-adv-h2 {
        width: 35vw;
        font-size: 19px;
    }
}

@media (max-width: 685px) {
    .young-adv {
        padding: 1.8rem 0rem;
        flex-direction: column;
        gap: 1.8rem;
        justify-content: center;
        align-items: center;
    }
    
    .young-adv-h2 {
        width: 90vw;
        font-size: 17px;
        color: #043632;
    }
    
    .young-adv-img {
        width: 90vw;
    }

    .young-adv-img img {
        width: 90vw;
    }
}

/* Clients Birthday Celebration */

.c-birthday {
    background-image: linear-gradient(180deg, #043632, rgb(90, 90, 90), rgb(202, 202, 202));
    padding: 5rem 0rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.c-birthday-h2 {
    width: 30vw;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    text-shadow: 0.4px 0.4px 1px black;
    text-align: center;
    color: rgb(202, 202, 202, 0.720);
}

.c-birthday-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.c-birthday-img img{
    width: 50vw;
    box-shadow: -3px 3px 13px black;
}

@media (max-width: 1150px) {
    .c-birthday {
        padding: 3rem 0rem;
    }
    
    .c-birthday-h2 {
        width: 35vw;
        font-size: 19px;
    }
}

@media (max-width: 685px) {
    .c-birthday {
        padding: 1.8rem 0rem;
        flex-direction: column;
        gap: 1.8rem;
        justify-content: center;
        align-items: center;
    }
    
    .c-birthday-h2 {
        width: 90vw;
        font-size: 17px;
        color: rgb(202, 202, 202, 0.720);
    }
    
    .c-birthday-img {
        width: 90vw;
    }

    .c-birthday-img img {
        width: 90vw;
    }
}

/* Bridal Shower */

.bridal-s {
    background-image: linear-gradient(180deg, rgb(202, 202, 202), rgb(90, 90, 90), #043632);
    padding: 5rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.bridal-s-h2 {
    width: 30vw;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    text-shadow: 0.4px 0.4px 1px black;
    text-align: center;
    color: rgb(202, 202, 202, 0.720);
}

.bridal-s-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.bridal-s-img img{
    box-shadow: -3px 3px 13px black;
    width: 50vw;
}

@media (max-width: 1150px) {
    .bridal-s {
        padding: 3rem 0rem;
    }
    
    .bridal-s-h2 {
        width: 35vw;
        font-size: 19px;
    }
}

@media (max-width: 685px) {
    .bridal-s {
        padding: 1.8rem 0rem;
        flex-direction: column;
        gap: 1.8rem;
        justify-content: center;
        align-items: center;
    }
    
    .bridal-s-h2 {
        width: 90vw;
        font-size: 17px;
        color: #043632;
    }
    
    .bridal-s-img {
        width: 90vw;
    }

    .bridal-s-img img {
        width: 90vw;
    }
}

/* Romantic Getaway */

.r-getaway {
    background-image: linear-gradient(180deg, #043632, rgb(90, 90, 90), rgb(202, 202, 202));
    padding: 5rem 0rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.r-getaway-h2 {
    width: 30vw;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    text-shadow: 0.4px 0.4px 1px black;
    text-align: center;
    color: rgb(202, 202, 202, 0.720);
}

.r-getaway-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.r-getaway-img img{
    width: 50vw;
    box-shadow: -3px 3px 13px black;
}

@media (max-width: 1150px) {
    .r-getaway {
        padding: 3rem 0rem;
    }
    
    .r-getaway-h2 {
        width: 35vw;
        font-size: 19px;
    }
}

@media (max-width: 685px) {
    .r-getaway {
        padding: 1.8rem 0rem;
        flex-direction: column;
        gap: 1.8rem;
        justify-content: center;
        align-items: center;
    }
    
    .r-getaway-h2 {
        width: 90vw;
        font-size: 17px;
        color: rgb(202, 202, 202, 0.720);
    }
    
    .r-getaway-img {
        width: 90vw;
    }

    .r-getaway-img img {
        width: 90vw;
    }
}

/* Many More */

.many-more {
    background-image: linear-gradient(180deg, rgb(202, 202, 202), rgb(90, 90, 90), #043632);
    padding: 5rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.many-more-h2 {
    width: 30vw;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    text-shadow: 0.4px 0.4px 1px black;
    text-align: center;
    color: rgb(202, 202, 202, 0.720);
}

.many-more-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.many-more-img img{
    width: 50vw;
    box-shadow: -3px 3px 13px black;
}

@media (max-width: 1150px) {
    .many-more {
        padding: 3rem 0rem;
    }
    
    .many-more-h2 {
        width: 35vw;
        font-size: 19px;
    }
}

@media (max-width: 685px) {
    .many-more {
        padding: 1.8rem 0rem;
        flex-direction: column;
        gap: 1.8rem;
        justify-content: center;
        align-items: center;
    }
    
    .many-more-h2 {
        width: 90vw;
        font-size: 17px;
        color: #043632;
    }
    
    .many-more-img {
        width: 90vw;
    }

    .many-more-img img {
        width: 90vw;
    }
}

/* Client Remarks */

.client-remark-container {
    transform: translateY(200px);
    transition: 0.8s all ease;
    opacity: 0;
    background-color: rgb(202, 202, 202);
    margin-top: 5rem;
    padding: 9rem 0rem;
}

.client-review-reveal {
    transform: translateY(0px);
    opacity: 1;
}

.client-remark-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.client-remark-content-h2 {
    color: #043632;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
}

.client-remark-content-wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.client-remark-wrap {
    background-color: rgb(202, 202, 202);
    width: 25vw;
    padding: 2rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
    box-shadow: 3px 3px 11px black;
}

.client-remark-icon {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 5px solid #043632;
    border-radius: 50%;
    color: grey;
}

.client-remark-rating {
    display: flex;
    color: #043632;
}

.client-remark-text {
    padding: 1rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    color: black;
}

.client-remark-l-d {
    width: 5vw;
    border: 0.1px solid black;
}

.client-remark-name {
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    color: #043632;
}

@media (max-width: 1150px) {
    .client-remark-container {
        margin-top: 4rem;
        padding: 7rem 0rem;
    }
    
    .client-remark-content {
        gap: 4rem;
    }
    
    .client-remark-content-h2 {
        font-size: 22px;
    }
    
    .client-remark-content-wrap {
        display: flex;
    }
    
    .client-remark-wrap {
        width: 31vw;
        padding: 1rem 1rem 2rem 1rem;
        gap: 0.8rem;
        border-radius: 19px;
    }
    
    .client-remark-icon {
        width: 70px;
        height: 70px;
        font-size: 40px;
        border: 4px solid #043632;
    }
    
    .client-remark-text {
        padding: 0.1rem;
        font-size: 20px;
    }
    
    .client-remark-l-d {
        width: 5vw;
    }
    
    .client-remark-name {
        font-size: 20px;
    }
}

@media (max-width: 685px) {
    .client-remark-container {
        margin-top: 3rem;
        padding: 4rem 0rem;
    }
    
    .client-remark-content {
        gap: 3rem;
    }
    
    .client-remark-content-h2 {
        font-size: 20px;
    }
    
    .client-remark-content-wrap {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    
    .client-remark-wrap {
        width: 85vw;
        padding: 1.5rem 0.8rem 2.5rem 0.8rem;
        gap: 1rem;
        border-radius: 19px;
    }
    
    .client-remark-icon {
        width: 57px;
        height: 57px;
        font-size: 30px;
        border: 3px solid #043632;
    }
    
    .client-remark-text {
        padding: 0.3rem;
        font-size: 19px;
    }
    
    .client-remark-l-d {
        width: 8vw;
    }
    
    .client-remark-name {
        font-size: 18px;
    }
}

/* Footer */
footer {
    background-image: linear-gradient(180deg, rgb(202, 202, 202), #087168, #06524b, #043632, #043632);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 7.5rem 0rem 2rem 2rem;
    color: white;
}
.footer-hr {
    display: none;
}
.footer-top {
    display: flex;
    justify-content: space-evenly;
}
.foot-top-wrap {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}
.footer-top-h3 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    color: rgba(192, 192, 192, 0.916);
}
.footer-top-newsletter-social-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-top-newsletter-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer-top-p {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
}
.footer-top-social {
    display: flex;
    gap: 2rem;
}
.footer-top-social-icon i {
    font-size: 30.5px;
    color: black;
    cursor: pointer;
}
.footer-top-email-input {
    padding: 0px 15px;
    width: 500px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 9px;
}

.email-input input {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    padding: 0px;
    outline: none;
    border: none;
    width: 420px;
    height: 50px;
    background-color: transparent;
    color: whitesmoke;
}
::-webkit-input-placeholder {
    color: rgb(214, 214, 214);
}
.email-input-icon {
    background-color: transparent;
    border: none;
}
.email-input-icon i {
    font-size: 23.5px;
    color: black;
    cursor: pointer;
}
.footer-top-contact-info {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.footer-top-contact-info-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}
.footer-top-contact-info-content {
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}
.footer-top-contact-info-icon i {
    cursor: pointer;
    font-size: 20.5px;
    color: rgba(202, 202, 202, 0.855);
}
.contact-info-p {
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 21px;
}

.contact-info-p a {
    text-decoration: none;
    color: whitesmoke;
}

.footer-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 21px;
}
.footer-base-link {
    display: flex;
    gap: 1.5rem;
}
.footer-base-para p {
    cursor: pointer;
}
.footer-base-para-divider {
    width: 2px;
    height: 25px;
    border: none;
    background-color: grey;
}

@media (max-width: 1150px) {
    footer {
        margin-top: 0rem;
        gap: 3rem;
        padding: 7rem 0rem 2.5rem 0rem;
    }
    .footer-hr {
        width: 90vw;
        height: 0.8px;
        margin-bottom: 0.8rem;
    }
    .footer-top {
        display: flex;
        justify-content: space-evenly;
    }
    .foot-top-wrap {
        gap: 1.3rem;
    }
    .footer-top-h3 {
        font-size: 22px;
    }
    .footer-top-newsletter-social-container {
        gap: 1rem;
    }
    .footer-top-newsletter-social {
        flex-direction: column-reverse;
        gap: 1.3rem;
        justify-content: start;
        align-items: flex-start;
    }
    .footer-top-p {
        width: 280px;
        font-size: 21px;
    }
    .footer-top-social {
        gap: 2rem;
    }
    .footer-top-social-icon i {
        font-size: 26px;
    }
    .footer-top-email-input {
        padding: 0px 15px;
        width: 300px;
        height: 45px;
        border: 0.5px solid black;
        border-radius: 9px;
    }
    .email-input input {
        font-size: 21px;
        width: 240px;
        height: 40px;
    }
    .email-input-icon i {
        font-size: 20px;
    }
    .footer-top-contact-info {
        gap: 1.5rem;
    }
    .footer-top-contact-info-wrap {
        gap: 1.3rem;
    }
    .footer-top-contact-info-content {
        gap: 0.8rem;
    }
    .footer-top-contact-info-icon i {
        font-size: 20px;
    }
    .contact-info-p {
        font-size: 20px;
    }
    .footer-base {
        gap: 1rem;
        font-size: 20px;
    }
    .footer-base-link {
        gap: 0.8rem;
    }
    .footer-base-para-divider {
        width: 2px;
        height: 22px;
    }
}

@media (max-width: 685px) {
    footer {
        margin-top: 0rem;
        gap: 2.5rem;
        padding: 10.5rem 1rem 1.5rem 1rem;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2.5rem;
    }
    .foot-top-wrap {
        gap: 2rem;
    }
    .footer-top-h3 {
        font-size: 20px;
    }
    .footer-top-newsletter-social-container {
        gap: 0.5rem;
    }
    .footer-top-newsletter-social {
        gap: 1.5rem;
        justify-content: start;
        align-items: flex-start;
    }
    .footer-top-p {
        max-width: 90vw;
        font-size: 20px;
    }
    .footer-top-social {
        gap: 3rem;
    }
    .footer-top-social-icon i {
        font-size: 24px;
    }
    .footer-top-email-input {
        padding: 0px 13px;
        width: 280px;
        height: 40px;
        border: 0.4px solid black;
    }
    .email-input input {
        font-size: 19px;
        width: 220px;
        height: 35px;
    }
    .email-input-icon i {
        font-size: 18px;
    }
    .footer-top-contact-info {
        gap: 2rem;
        justify-content: center;
    }
    .footer-top-contact-info-wrap {
        max-width: 80vw;
        gap: 1rem;
    }
    .footer-top-contact-info-content {
        gap: 0.5rem;
    }
    .footer-top-contact-info-icon i {
        font-size: 16px;
    }
    .contact-info-p {
        font-size: 20px;
    }
    .footer-base {
        gap: 1rem;
        font-size: 18px;
    }
    .footer-base-link {
        width: 90vw;
        gap: 0.5rem;
    }
    .footer-base-para{
        justify-content: start;
        align-items: flex-start;
    }
    .footer-base-para-divider {
        width: 2px;
        height: 18px;
    }
}
